/* ========= TITLE ========== */


.title {
    position: relative;
    text-align: center;
    color: white;
    height: 80vh;
    width: 100vw;
}

.title h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.title img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

/* ========= CONTENT ========== */

.content {
    margin: 22px;
}

.package {
    background-color: #e8e8e8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; 
    padding: 20px;
    margin: 50px;
    font-size: 1.2em;
    border-bottom: 10px solid green;
    width: 200px;
    height: 250px;
}

#link-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.package:hover {
    border-bottom: 10px solid #ab3939;
    cursor: pointer;
    font-size: 1.3em;
}

 /* Pseudo Classes */

a {
    text-decoration: none;
}

 a:link {
    color: black;
 }

 a:visited {
    color: black;
 }

a:hover{
    color: grey;
}

a:active {
    color: red;
}