/* ========= GENERAL ========== */

body {
    font-family: Montserrat, san-serrif;
    margin: 0px;
}


/* ========= NAVBAR ========== */

.navbar {
    background-color: black;
    opacity: 0.8;
    display: flex;
    padding: .5em;
}

.navbar .left, 
.navbar .right {
    display: flex;
    flex: 1;
    align-items: center;
}

.navbar .left a,
.navbar .right a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 0em 1em;
}

.navbar .left img {
    height: 40px;
    width: 40px;
}

.navbar .right{
    justify-content: flex-end;
}

.navbar a {
    text-decoration: none;
}

.navbar a:hover {
    color: grey;
}

.navbar a:active {
    color: #877171;
}

