
.intro {
    &-blurb {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: [s img-s] 1fr [img-e text-s] 4fr [text-e e];
        ul {
            list-style: none;
            display: inline-block;
            color: $green-75;
            font-size: 20px;
        }
    }  
}

.description {
    margin-left: 15px;
    background-color: $gray-E6;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}


