
.intro {
    &-blurb {
        display: grid;
        grid-template-rows: 2fr .8fr;
        grid-template-columns: [s img-s] 1fr [img-e text-s] 4fr [text-e e];
        background-color: $gray-E6;
        padding: 10px;
        border-radius: 5px;
        
        ul {
            list-style: none;
            display: inline-block;
            color: $green-75;
            font-size: 20px;
        }
        img {
            border: 3px solid $green-75;
            border-radius: 5px;
            grid-column: img-s/img-e;
            grid-row: 1/-1;
        }
    }

    &-links {
        grid-column: text-s/text-e;
        margin-left: 40px;
        display: flex;
        flex-wrap: wrap;
    }
}

.description {
    margin-left: 15px;
    background-color: $gray-E6;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}




.certs {
    &-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 10px;
        width: 100%;

        &-button {
            height: 35px;
            width: 150px;
            font-family: $raleway;
            font-weight: 700;
            border: none;
            font-size: 16px;
            transition: all .2s ease;

           &-notselected {
                background-color: $green-75;
                color: white;
           }

           &-selected {
                border: 1px solid $red-BB;
                background-color: $green-75;
                color: white;
            }

            &:hover {
                background-color: $red-BB;
                color: $gray-D8;
                cursor: pointer;
            }
    
            &:active {
                font-size: 14px;
            }

            &:focus {
                outline: none;
            }
        }
    }

    &-img {
        height: 100%;
        width: 100%;
        padding: 10px;
        background-color: $gray-4D; 
    }
}


