.stat-details {
    grid-row: content-s/content-e;
    grid-column: description-s/description-e;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12.5px;

    
   
    &__title {
        font-size: 42px;
        font-weight: bold;
        text-align: center;

        margin: 12.5px;
    }
    &__data {
        text-align: center;
        font-size: 84px;
        font-weight: 600;
        color: $green-75;
        font-family: $mont;

        margin: 12.5px;
    }
    &__description {
        width: 100%;
        text-align: center;

        margin: 12.5px;
    }
}

@media only screen and (max-width: 48em) {
    .stat-details{
        grid-row: data-s/data-e;
        grid-column: 1/1;
        
        display: flex;
        align-items: center;

        &__title {
            font-size: 25px;
        }

        &__data {
            font-size: 30px;
        }

        &__description {

        }
    }
}