.stat-details {
    grid-row: 1;
    grid-column: description-s/description-e;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: [title-s] 50px [title-e data-s] 100px [data-e description-s] 1fr [description-e];
    grid-row-gap: 25px;
   
    &__title {
        font-size: 36px;
        font-weight: bold;
        text-align: center;

        grid-row: title-s/title-e;
    }
    &__data {
        text-align: center;
        font-size: 84px;

        grid-row: data-s/data-e;
    }
    &__description {
        text-align: center;

        grid-row: description-s/description-e;
    }
}