.stats-item {
    background: $gray-F8;
    width: 500px;
    height: 60px;
    border-left: 9px solid $green-75;

    display: grid;
    grid-template-columns: 40px [title-s] 1fr [title-e];
    grid-template-rows: 1fr;
    align-items: center;

    transition: all .3s ease;

    &-focused {
        border-left: 9px solid $red-BB;
        box-shadow: 0px 0px 10px $gray-D8;
    }

    &:hover {
        border-left: 9px solid $red-BB;
        box-shadow: 0px 0px 10px $gray-D8;
        cursor: pointer;

        .stats-item__title {
            font-size: 24px;
            transform: translateY(-2px)
            
        }
    }

    &__title {
        grid-column: title-s/title-e;
        grid-row: 1;

        font-size: 22px;
        transition: all .3s ease;

        &-focused {
            font-size: 24px;
            transform: translateY(-2px);
        }
    }
    &__icon {
        grid-column: title-s/title-e;
        grid-row: 1;
        transform: rotate(180deg);
        margin-left: 10px;
        transition: all 1s ease;
        
        &-focused {
            transform: translateX(250px) rotate(0deg)
        }
    }
}
