.clip-path-stats,
.clip-path-stats__border {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100vw;
  height: 100vh;
  background: $gray-33;
  position: fixed;

  z-index: -9;
  -webkit-clip-path: polygon(100% 45%, 100% 100%, 45% 100%);
  clip-path: polygon(100% 45%, 100% 100%, 45% 100%);

  &__border {
    background: $green-75;
    -webkit-clip-path: polygon(100% 44%, 100% 100%, 44% 100%);
    clip-path: polygon(100% 44%, 100% 100%, 44% 100%);

    z-index: -10;
  }
}

.clip-path-content,
.clip-path-content__border {
  grid-row: 1/-1;
  grid-column: 1/-1;
  width: 100vw;
  height: 100vh;
  background: $gray-33;
  position: fixed;

  z-index: -9;
  -webkit-clip-path: polygon(100% 5%, 100% 100%, 1% 100%);
  clip-path: polygon(100% 5%, 100% 100%, 1% 100%);

  &__border {
    background: $green-75;
    -webkit-clip-path: polygon(100% 4%, 100% 100%, 0 100%);
    clip-path: polygon(100% 4%, 100% 100%, 0 100%);

    z-index: -10;
  }
}
