$raleway: "Raleway", Arial, sans-serif;
$encode: "Encode Sans Condensed", sans-serif;
$mont: "Montserrat", Arial, sans-serif;

// colors
$gray-33: #333;
$gray-4D: #4d4d4d;
$gray-D8: #d8d8d8;
$gray-E6: #e6e6e6;
$gray-F8: #f8f8f8;
$green-75: #75aa28;
$red-BB: #bb1142;
