.stats-grid {
  display: grid;
  grid-template-columns: 1fr [content-s] 1100px [content-e] 1fr;
  grid-template-rows: minmax(50px, 1fr) [content-s] 700px [content-e] minmax(
      50px,
      1fr
    );
}

.stats-content {
  grid-row: content-s/content-e;
  grid-column: content-s/content-e;

  display: grid;
  grid-template-columns: [types-s] 1fr [types-e description-s] 1fr [description-e];
  grid-template-rows: 50px [content-s] 1fr [content-e];
  justify-items: center;

  &__tip {
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    padding: 20px;
  }

  &__scroll-tip {
    grid-column: types-s/types-e;
    grid-row: content-s/content-e;
    align-self: end;
    margin-bottom: 60px;
    height: 20px;
    font-size: 18px;
    border-top: 1px solid $green-75;
    padding-left: 250px;
  }
}

@media only screen and (max-width: 48em) {
  .stats-grid {
    display: block;
  }

  .stats-content {
    display: grid;
    grid-template-rows: [s types-s] 1.5fr [types-e tip-s] 0.2fr [tip-e data-s] 2fr [data-e e];
    grid-template-columns: 1fr;

    &__tip {
      display: none;
    }

    &__scroll-tip {
      grid-row: tip-s/tip-e;
      grid-column: 1/1;

      margin-left: 10px;
      margin-top: 5px;
      font-size: 15px;
      padding-left: 85px;
      padding-right: 5px;
    }
  }
}
