.howto-grid {
    display: grid;
    grid-template-columns: [s links-s] 1fr [links-e content-s] 900px [content-e sidebar-s] 1fr [sidebar-e e];
    grid-template-rows: [s sidebar-s] 870px [sidebar-e button-s] 60px [button-e e];
    overflow: hidden;
    
    &__content {
        background-color: $gray-F8;
        box-shadow: 0px 0px 20px $gray-D8;
        grid-column: content-s/content-e;
        grid-row: s/e;
        padding: 20px;
        overflow-y: scroll;
    }

    &__paragraph {
        line-height: 24px;
        margin-left: 36px;
        text-align: justify;
        text-justify: inter-word;
        margin-top: -10px;
    }

    &__sub-topic {
        padding-right: 50px;
        padding-left: 50px;

    }

    &__back-to-top {
        grid-column: sidebar-s/sidebar-e;
        grid-row: button-s/button-e;
        height: 50px;
        width: 100px;
        align-self: end;
        margin: 20px;

        border: 1px solid $green-75;
        background-color: $green-75;
        padding: 10px;
        color: white;
        font-weight: 700;
        border: none;

        &:hover {
            cursor: pointer;
            color: $gray-D8
        }

        &:active {
            outline-color: $red-BB;
        }
    }

    hr {
        border: transparent;
        background-color: $green-75;
        height: 1px;
    }
}




