.img-container {
    display: grid;
    grid-template-rows: [img-s] 1fr [img-e sub-s] 30px [sub-e];
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
    
    img {
        grid-row: img-s/img-e;
        justify-self: center;
    }

    &__sub {
        grid-row: sub-s/sub-e;
        text-align: end;
        align-self: top;
        margin-right: 36px;
    }

}
