.link-box {
    display: grid;
    grid-template-rows: [s title-s] 50px [title-e sub-s] 20px [sub-e text-s] 1fr [text-e e];
    grid-template-columns: [s title-s] 100px [title-e icon-s] 10px [icon-e link-s] 1fr [link-e e];
    align-items: center; 
    
    background: $gray-F8;
    width: 475px;
    border-left: 9px solid $green-75;

    transition: all .3s ease;
    margin: 20px;
    padding: 10px;
    float: right;
    margin-right: 250px;

    &:hover {
        border-left: 9px solid $red-BB;
        box-shadow: 0px 0px 10px $gray-D8;

        .link-box__title {
            font-size: 24px;
            transform: translateY(-2px) 
        }
    }

    &__title {
        grid-column: title-s/title-e;
        grid-row: title-s/title-e;

        font-size: 22px;
        transition: all .3s ease;
    }

    &__icon {
        transition: all .3s ease;
        width: auto;
        height: auto;
        grid-row: title-s/title-e;
        grid-column: icon-s/icon-e;
        text-align: right;
    }

    &__subtitle {
        grid-row: sub-s/sub-e;
        grid-column: s/e;
        font-size: 12px;
        align-self: top;
    }

    &__description { // Y U NO GO (╯°□°）╯︵ ┻━┻
        padding-top: 24px;
        grid-row: text-s/text-e;
        grid-column: link-s/link-e;
        width: 400px;
    }

    &__link {
        transition: all 1s ease;
        font-size: 15px;
        color: $red-BB;
        opacity: 0;
        transform: translateX(50px);

        grid-row: s/e;
        grid-column: link-s/link-e;
        text-align: right;
        align-self: end;

        &-show {
            opacity: 1;
            transform: translateX(0px);
        }
    }
}


.arrow-up {
    transform: rotate(180deg)
}


