@import 'variables';

// HOMEPAGE
@import 'home';
@import 'link-boxes';

// HOWTO
@import 'howto-grid';

// STATS
@import 'stats/stats';
@import 'stats/stats-content';
@import 'stats/stats-types';
@import 'stats/stats-item';
@import 'stats/stats-details';

// HELPERS
@import 'clip-paths';
@import 'navbar';


body {
    font-family: $mont;
    color: $gray-4D;
    margin: 0px;

    a {
        text-decoration: none; 
    }
}