@import 'variables';
@import 'navbar';
@import 'home';
@import 'link-boxes';

// STATS
@import 'stats/stats';
@import 'stats/stats-content';
@import 'stats/stats-types';
@import 'stats/stats-item';
@import 'stats/stats-details';



body {
    font-family: $raleway;
    color: $gray-4D;
    margin: 0px;
}