$raleway: 'Raleway', Arial, sans-serif;
$encode: 'Encode Sans Condensed', sans-serif;
$mont: 'Montserrat', Arial, sans-serif;

// colors
$gray-33: #333;
$gray-4D: #4D4D4D;
$gray-D8: #D8D8D8;
$gray-E6: #E6E6E6;
$gray-F8: #F8F8F8;
$green-75:#75aa28;
$red-BB:  #BB1142;