.navbar {
  background-color: #333;
  display: flex;
  padding: .5em;
  align-items: center; }
  .navbar__item,
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 0em 1em; }
    .navbar__item:hover,
    .navbar a:hover {
      color: grey;
      cursor: pointer; }
    .navbar__item:active,
    .navbar a:active {
      color: #877171; }
  .navbar img {
    height: 40px;
    width: 40px; }

/* ========= TITLE ========== */
.home {
  /* ========= CONTENT ========== */ }
  .home__title {
    position: relative;
    text-align: center;
    color: white;
    height: 80vh;
    width: 100vw; }
    .home__title h1 {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .home__title img {
      width: 100%;
      height: 75vh;
      object-fit: cover; }
  .home__content {
    margin: 22px; }
  .home__description {
    background-color: #e8e8e8;
    border-radius: 5px;
    padding: 2em;
    width: 50%;
    float: left; }
  .home__package {
    background-color: #e8e8e8;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    margin: 50px;
    margin-top: 0px;
    font-size: 1.2em;
    border-bottom: 10px solid green;
    width: 200px;
    height: 250px;
    transition: width 1s, height 1s; }
    .home__package__package-description {
      display: none; }
    .home__package:hover {
      border-bottom: 10px solid #ab3939;
      cursor: pointer;
      height: 320px;
      width: 320px;
      font-size: 1.1em;
      overflow: hidden;
      overflow-wrap: break-word; }
  .home #link-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
    .home #link-boxes a {
      text-decoration: none; }
      .home #link-boxes a:hover {
        color: grey; }
      .home #link-boxes a:active {
        color: #877171; }
  @media only screen and (max-width: 48em) {
    .home .description {
      float: none;
      width: auto; }
    .home__package {
      margin-top: 50px;
      width: 66vw; } }

body {
  font-family: Arial, san-serrif;
  margin: 0px; }
